* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.header-menu-block {
  display: flex;
  gap: 50px;
}
.header-left {
  display: flex;
  align-items: center;
  gap: 93px;
}
.header {
  padding: 32px 0;
}
.header-logo-link {
  font-size: 26px;
  font-weight: 700;
  line-height: 30.52px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #000;
  font-family: "Raleway", serif;
}
.header-logo-span {
  color: #2196f3;
}
.header-link {
  font-family: "Roboto", serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
  letter-spacing: 0.02em;
  color: #000;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.header-link::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: transparent;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}
.header-link:hover::after {
  background-color: #2196f3;
}
.header-link:hover {
  color: #2196f3;
}
.header-info {
  display: flex;
  gap: 5px;
}
.header-right {
  display: flex;
  gap: 10px;
}
.header-right img {
  height: 16px;
  flex-grow: 0;
}
.header-info-link {
  font-family: "Roboto", serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
  letter-spacing: 0.02em;
  color: #757575;
}
.header-info-link:hover {
  color: #2196f3;
}
.buisnes {
  min-height: 600px;
  background: linear-gradient(
      180deg,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../img/header-bg.png") no-repeat center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.buisnes-title {
  color: #fff;
  font-family: "Roboto", serif;
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 696px;
  text-align: center;
  margin-bottom: 30px;
}
.btn {
  width: 200px;
  height: 50px;
  border: none;
  cursor: pointer;
}
.btn-blue {
  background-color: #2196f3;
  font-family: "Roboto", serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #fff;
}
.box .container {
  display: flex;
  gap: 30px;
}
.box {
  margin-top: 94px;
}
.box .box-item {
  text-align: center;
}
.box-title {
  text-align: left;
  font-family: "Roboto", serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.41px;
  letter-spacing: 0.03em;
  color: #212121;
}
.box-content {
  text-align: left;
  font-family: "Roboto", serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}
.box svg {
  height: 120px;
}
.box-fon {
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}
.study-block {
  display: flex;
  gap: 30px;
}
.study-title {
  font-family: "Roboto", serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 42.19px;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 94px;
  margin-bottom: 50px;
  text-align: center;
}
.study-item {
  position: relative;
}
.study-text {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #2f303acc;
  color: #fff;
  width: 100%;
  padding: 27px 0;
  text-align: center;
  font-family: "Roboto", serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.41px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.command-block {
  display: flex;
  gap: 30px;
}
.command-item {
  width: 270px;
}
.command {
  margin-top: 94px;
  padding: 94px 0;
  background-color: #f5f4fa;
}
.command-subtitle {
  font-family: "Roboto", serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 42.19px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}
.command-title {
  font-family: "Roboto", serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  letter-spacing: 0.03em;
  text-align: center;
  padding-top: 30px;
  margin-bottom: 10px;
  color: #212121;
}
.command-text {
  font-family: "Roboto", serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 16px;
  color: #757575;
}
.command-bottom {
  background-color: #fff;
  padding-bottom: 30px;
}
.command-social {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.command-link {
  width: 44px;
  height: 44px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: all 0.5s ease;
}
.command-link:hover {
  background-color: #2196f3;
}
.command-link:hover svg {
  fill: #fff;
}
.command-link svg {
  transition: all 0.5s ease;
}
.client-block {
  display: flex;
  justify-content: space-between;
}
.client-title {
  font-family: "Roboto", serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 42.19px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 94px;
}
.client-item {
  border: 1px solid #afb1b8;
  width: 170px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}
.client-item:hover {
  cursor: pointer;
  border-color: #2196f3;
}
.client-item:hover svg {
  fill: #2196f3;
}
.footer {
  background-color: #2f303a;
  margin-top: 94px;
  padding: 60px 0;
}
.footer-logo-span {
  font-family: "Roboto", serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 30.52px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #2196f3;
}
.footer-logo {
  color: #fff;
  font-family: "Roboto", serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 30.52px;
  letter-spacing: 0.03em;
  text-align: left;
  margin-bottom: 20px;
  display: block;
}
.footer-info {
  display: flex;
  flex-direction: column;
}
.footer-link-map {
  font-family: "Roboto", serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #ffffff;
  margin-bottom: 9px;
}
.footer-link-email {
  font-family: "Roboto", serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #ffffff99;
  margin-bottom: 9px;
}
.footer-link-tall {
  font-family: "Roboto", serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  margin-bottom: 60px;
  color: #ffffff99;
}
.footer .container {
  display: flex;
  gap: 70px;
}
.footer-column-title {
  font-family: "Roboto", serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.41px;
  letter-spacing: 0.03em;
  text-align: left;
  margin-bottom: 20px;
  color: #ffffff;
  text-transform: uppercase;
}
.footer-link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.footer-social {
  display: flex;
  gap: 10px;
}
.footer-link:hover {
  background-color: #2196f3;
}
.form-submite {
  font-family: "Roboto", serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: center;
  background-color: #2196f3;
  border: none;
  width: 200px;
  height: 50px;
  color: #fff;
  border-radius: 4px;
  justify-content: center;
  gap: 5px;
  align-items: center;
  display: flex;
  cursor: pointer;
}
.footer-subscribe {
  display: flex;
  gap: 12px;
}
.footer-input-email {
  width: 358px;
  height: 50px;
  background: transparent;
  border-radius: 4px;
  outline: none;
  border-color: #ffffff4d;
  padding: 15px;
  font-family: "Roboto", serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #fff;
}
html,
body {
  height: 100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main {
  flex-grow: 1;
}
.header-page {
  border-bottom: 1px solid #ececec;
}
.button-filter {
  margin-top: 100px;
  display: flex;
  gap: 8px;
  justify-content: center;
}
.main .btn {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  width: auto;
  border-radius: 4px;
}
.main .btn-gray {
  background-color: #f5f4fa;
  font-family: "Roboto", serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.03em;
  cursor: pointer;
}
.main .btn:hover {
  background-color: #2196f3;
  color: #ffffff;
  transition: all 0.5s ease-in-out;
}
.filter-block {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 34px;
}
.filter-block-text {
  position: absolute;
  transform: translateY(100%);
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 63px 24px;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms ease-out;
}
.filter-block-img {
  overflow: hidden;
  position: relative;
}
.filter-block-item {
  flex-basis: calc(370px - 30px);
  display: block;
}
.filter-block-title {
  font-family: "Roboto", serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.06em;
  text-align: left;
  color: #212121;
}
.filter-block-content {
  font-family: "Roboto", serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}
.filter-block-item:hover .filter-block-text {
  transform: translateY(0);
}
@media (max-width: 1170px) {
  .footer-subscribe {
    flex-direction: column;
  }
  .footer-input-email {
    width: 100%;
  }
  .form-submite {
    width: 100%;
  }
  .footer .footer-column:last-child {
    width: 100%;
  }
  .filter-block {
    justify-content: center;
  }
}
@media (max-width: 992px) {
  .header-right {
    flex-direction: column;
    gap: 20px;
  }
}
@media (max-width: 768px) {
  .footer .container {
    flex-wrap: wrap;
    gap: 30px 50px;
  }
  .header-left {
    gap: 20px;
  }
  .header-menu-block {
    gap: 20px;
  }
}
@media (max-width: 576px) {
  .footer-column {
    width: 100%;
  }
  .button-filter {
    display: flex;
    flex-wrap: wrap;
  }
  .header .container {
    flex-wrap: wrap;
    gap: 20px;
  }
  .header-left {
    justify-content: space-between;
    width: 100%;
  }
  .button-filter {
    margin-top: 30px;
  }
}
@media (max-width: 480px) {
  .filter-block-item {
    flex-basis: 100%;
  }
  .filter-block img {
    width: 100%;
  }
}
@media (max-width: 400px) {
  .header-left {
    flex-wrap: wrap;
    justify-content: center;
  }
  .header-right {
    justify-content: center;
    width: 100%;
    text-align: center;
  }
  .header .container {
    justify-content: center;
    text-align: center;
  }
  .header-info {
    justify-content: center;
    text-align: center;
  }
  .footer-link-tall {
    margin-bottom: 10px;
  }
  .footer {
    margin-top: 30px;
  }
}
